.login-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(45deg, rgba(0, 103, 255, 0.2), rgba(0, 150, 80, 0.4)), url('../../assets/images/login-background.jpg') center center no-repeat;
    background-size: cover;
}

#login-form {
    background: #ecf0f1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: #ccc 1px solid;
    padding: 15px;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 120px;
}

.btn-light {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2980b9;
    color: #fff;
    transition: background-color 0.5s;
}

.btn-light:active,
.btn-light:hover {
    background-color: #22313F;
}

.form-title {
    text-align: center;
    position: relative;
}

.form-title:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 25%;
    height: 2px;
    width: 50%;
    background-color: #4A4875;
}

.brand-logo {
    width: 100%;
    font-size: 2.5em;
    color: #fff;
}


/* povecane dimenzije ikonice */

.svg-inline--fa.fa-briefcase-medical.fa-w-16 {
    width: 3.875em;
    height: 4.35em;
}


/* centrirana ikonica */

.form-group.col-md-12 {
    text-align: center;
}