    body {
        background-attachment: fixed;
        height: 100%;
    }
    
    .col-sm-6 {
        margin-top: 30px;
    }
    
    .col-sm-4 {
        margin-top: 30px;
    }
    
    .svg-inline--fa.fa-home.fa-w-18 {
        width: 2em;
        height: 1.3em;
    }
    
    .svg-inline--fa.fa-file-medical.fa-w-12 {
        width: 2em;
        height: 1.3em;
    }
    
    .svg-inline--fa.fa-angle-double-left.fa-w-14 {
        width: 2em;
        height: 1.3em;
    }
    
    .svg-inline--fa.fa-user-md.fa-w-14 {
        width: 2em;
        height: 1.3em;
    }
    
    .svg-inline--fa.fa-calendar-check.fa-w-14 {
        width: 2em;
        height: 1.3em;
    }
    
    #wrapper {
        padding-left: 70px;
        transition: all .4s ease 0s;
        height: 100%
    }
    
    #sidebar-wrapper {
        margin-left: -150px;
        left: 70px;
        width: 150px;
        background: #222;
        position: fixed;
        height: 100%;
        z-index: 10000;
        transition: all .4s ease 0s;
    }
    
    .sidebar-nav {
        display: block;
        float: left;
        width: 150px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    #page-content-wrapper {
        padding-left: 0;
        margin-left: 0;
        width: 100%;
        height: auto;
    }
    
    #wrapper.active {
        padding-left: 150px;
    }
    
    #wrapper.active #sidebar-wrapper {
        left: 150px;
    }
    
    #page-content-wrapper {
        width: 100%;
    }
    
    #sidebar_menu li a,
    .sidebar-nav li a {
        color: #999;
        display: block;
        float: left;
        text-decoration: none;
        width: 150px;
        background: #252525;
        border-top: 1px solid #373737;
        border-bottom: 1px solid #1A1A1A;
        -webkit-transition: background .5s;
        -moz-transition: background .5s;
        -o-transition: background .5s;
        -ms-transition: background .5s;
        transition: background .5s;
    }
    
    .sidebar_name {
        padding-top: 25px;
        color: #fff;
        opacity: .7;
    }
    
    .sidebar-nav li {
        line-height: 40px;
        text-indent: 20px;
    }
    
    .sidebar-nav li a {
        color: #999999;
        display: block;
        text-decoration: none;
    }
    
    .sidebar-nav li a:hover {
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
        text-decoration: none;
    }
    
    .sidebar-nav li a:active,
    .sidebar-nav li a:focus {
        text-decoration: none;
    }
    
    .sidebar-nav>.sidebar-brand {
        height: 65px;
        line-height: 60px;
        font-size: 18px;
    }
    
    .sidebar-nav>.sidebar-brand a {
        color: #999999;
    }
    
    .sidebar-nav>.sidebar-brand a:hover {
        color: #fff;
        background: none;
    }
    
    #main_icon {
        float: right;
        padding-right: 65px;
        padding-top: 20px;
        cursor: pointer;
    }
    
    .sub_icon {
        float: right;
        padding-right: 65px;
        padding-top: 10px;
    }
    
    .content-header {
        height: 65px;
        line-height: 65px;
    }
    
    .content-header h1 {
        margin: 0;
        margin-left: 20px;
        line-height: 65px;
        display: inline-block;
    }
    
    @media (max-width:767px) {
        #wrapper {
            padding-left: 70px;
            transition: all .4s ease 0s;
        }
        #sidebar-wrapper {
            left: 70px;
        }
        #wrapper.active {
            padding-left: 150px;
        }
        #wrapper.active #sidebar-wrapper {
            left: 150px;
            width: 150px;
            transition: all .4s ease 0s;
        }
    }