a {
    color: #000;
}

.list-group-item:last-child {
    margin-bottom: 6px;
}

p {
    font-weight: 600;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th>p {
    background-color: #E4F1FE;
    color: black;
}

a.list-group-item.active {
    background-color: #54a3f7 !important;
}