input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

.row {
    margin-left: 15px;
}

.btn-success {
    background-color: #007bff;
}

.btn-success:hover {
    background-color: #005aff;
}

.label {
    font-size: 16px !important;
}

.form-control {
    margin-top: 12px;
    font-size: 15px;
    height: auto !important;
}